# Archivos temporales y de proyecto de RobotStudio
*.rspag
*.rsstation
*.bak
*.tmp
$*
/Backups/
/Logs/
/Internal/

# Archivos CAD pesados (si no usas Git LFS)
*.step
*.stp
*.stl
*.iges

# Python / C++ (para scripts de comunicación)
__pycache__/
*.py[cod]
*.exe
*.o
*.obj
.vscode/
.idea/
